	* {
    	    box-sizing: border-box;
	}

	body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: white;
            padding: 10px 0;
        }

        header nav ul {
            list-style: none;
            text-align: center;
        }

        header nav ul li {
            display: inline;
            margin-right: 20px;
        }

        header nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
        }

        header nav ul li a:hover {
            text-decoration: underline;
        }


        section {
            padding: 50px 20px;
            margin: 20px auto;
            max-width: 1100px;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            text-align: center;
            font-size: 2em;
            color: #333;
	    padding-bottom: 3%;
        }

        p {
            font-size: 1.1em;
            line-height: 1.6;
            color: #555;
        }

        ul {
            list-style: disc;
            padding-left: 20px;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 20px 0;
        }
